#contenedor{
    width: 40%;
    margin: auto;
    padding-top: 50px;
}

#zona_form{
    float: left;
    padding: 20px;
    border: 1px solid #039;
}

#zona_datos{
    float: right;
    width: 300px;
    margin-left: 20px;
    padding: 20px;
    border: 1px dashed #F00;
}

#zona_progreso{
    float: right;
    width: 300px;
    margin-left: 20px;
    padding: 20px;
    border: 1px dashed #F00;
}